@mixin homepageModule-title{
    font-size: 26px;
}

@mixin hpm-sidebar--scroller{
    overflow: auto;
    height: calc(100vh - 111px);
    padding-bottom: 40px;
    padding-top: 40px;
}

@mixin edit-section--spacing{
    padding: 0 0 25px;
    margin: 0 0 40px;
    border-bottom: 1px solid #DEDEDE;
}

