@import "variables";
@import "icons";
@import "mixins";


// Bootstrap overwrite

.modal-dialog{
  max-width: 65%;
  img.template-preview{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}


/* Lodur Form Elements Start **************************************************/

.lodurMobile-form input[type=text], .lodurMobile-form input[type=date], .lodurMobile-form input[type=time], .lodurMobile-form select{
  padding: 0.4rem 0.3rem;
  border-radius: 0.25rem;
  border: 1px solid #dadada;
  background-color: #ffffff;
  font-size: 0.875rem;
  margin-top: 0.150rem;
  width: 100%;
  margin-bottom: 10px;
  height: 36px;
}

.lodurMobile-form textarea{
padding: 0.4rem 0.3rem;
border-radius: 0.25rem;
border: 1px solid #dadada;
background-color: #ffffff;
font-size: 0.875rem;
margin-top: 0.150rem;
width: 100%;
margin-bottom: 10px;
}

.lodurMobile-form label{
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.lodurMobile-form input[type=checkbox]{
  margin: 0;
  padding: 0;
  
}

.lodurMobile-form--datePicker, .lodurMobile-form--timePicker{
  position: absolute;
  right: 15px;
  bottom: 20px;
}



// App Styles Start

body {
	background: #ffffff;
}
.homepageModule-wrapper {
  .container{
    max-width: 1500px;
  }
  
  .lodur-blue--button{
    background-color: #0d9ed6;
    color: #fff;
  }
	span.lodur-icon-arrow-thin-left {
		font-size: 30px;
		color: #a4a4a4;
	}
	
	.homepageModule-tips {
		font-size: 12px;
		color: #707070;
	}
	input.homepageModule-companyName {
		width: 370px;
		height: 35px;
		border-radius: 4px;
		border: solid 1px #aaaaaa;
		background-color: #ffffff;
		padding: 0 10px;
	}
	button.homepageModule-btn {
		width: 98px;
		height: 35px;
		border-radius: 5px;
		background-color: #0d9ed6;
	}

  a.homepageModule-backNav {
    display: block;
    
    margin-bottom: 5rem;
    &:hover {
      span.lodur-icon-arrow-thin-left {
        color: #000;
      }
      p {
        color: #000;
      }
      outline: none;
      text-decoration: none;
    }
  }
  .flexbox-end {
    position: absolute;
    bottom: 15%;
  }
  .homepageModule-backNav {
    p {
      font-size: 14px;
      color: #858585;
      margin: 0;
      padding: 0;
    }
  }

  .templatePreview-liveThumb{
    float: left;
    margin-right: 50px;
  }

  .homepageModule-title{
    h1 {
      font-size: 26px;
    }
    span{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: left;
      color: #707070;
    }
  }


  .templatePreview-details{
    display: flex;
    
    .preview-menu{
      display: table;
      a{
        width: 30px;
        height: 30px;
        margin-top: 5px;
        text-align: center;
        display: block;
        &:hover{
          border-radius: 4px;
          background-color: #f3f3f3;
          cursor: pointer;
        }
      }
      &:hover{
        border-radius: 4px;
        background-color: #f3f3f3;
        ul{
          display: block;
          position: absolute;
          
        }
      }
    }
    ul{
      width: 177px;
      display: none;
      margin: 0;
      padding: 0;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      li {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 20px;
        &:hover{
          background-color: #f1f1f1;
          text-decoration: none;
          cursor: pointer;
        }
        a{
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.8;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          display: initial!important;
          &:hover{
            background-color: #f1f1f1;
            text-decoration: none;
          }
        }
      }
    }

  }

  .homepageModule-drafts{
    padding: 0;
    ul{
      padding: 0;
      margin: 0;

      li{
        padding: 0;
        margin: 30px 30px 0 0;
        list-style-type: none;
        float: left;
        position: relative;
        .homepageModule-draft-thumb{
          .homepageModule-draft-name{
            padding-top: 8px;
            font-size: 12px;
          }
          .homepageModule-published--status{
            background-color: #2baf6d;
            color: #ffffff;
            text-align: center;
            padding: 6px 0;
            position: absolute;
            bottom: 26px;
            font-size: 14px;
            width: 100%;
          }
        }
        &:first-child{
          a{
            width: 209px;
            height: 277px;
            display: flex;
            border: dashed 1px #8f8f8f;
            align-items: center;
            justify-content: center;
            color: #000;
            &:hover{
              cursor: pointer;
              text-decoration: none;

              span.lodur-icon-add{
                background-color: rgba(0, 0, 0, 0.6);
                transition: background-color 200ms linear;
                color: #ffffff;
              }
            }
            
            span.lodur-icon-add{
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              border-radius: 50%;
              background-color: #e8e8e8;
              transition: background-color 200ms linear;
            }
          }
        }
        .homepageModule-draft--overlay{
          background-color:rgba(0, 0, 0, 0.50);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          width: 209px;
          height: 277px;
          transition: opacity 0.3s;
          -webkit-transition: opacity 0.3s;
          opacity: 0;
          button{
            display: block;
            width: 85px;
            margin-bottom: 15px;
            border-radius: 5px;
            background-color: #0d9ed6;
            color: #fff;
            border: 1px solid #0d9ed6;
            transition: background-color 200ms linear;
            font-weight: 400;
            
            &:hover{
              background-color: #0080b3;
              border: 1px solid #0080b3;
              color: #fff;
              transition: background-color 200ms linear;
              cursor: pointer;
            }
          }
        }
        &:hover{
          .homepageModule-draft--overlay{
            
            transition: opacity 0.5s;
            -webkit-transition: opacity 0.5s;
            opacity: 1;
          }
        }
      }
    }
  }

  .hpm-edit--panel{
    padding: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    position: fixed;
    width: 400px;
    height: 93vh;
    margin: 30px 0 0 15px;
    h2{
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 6px;
    }
    p.hpm--subHeadline{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #707070;
    }
    .hpm-sidebar--scroller{
      @include hpm-sidebar--scroller;
      .hpm-sidebar--spacing{
        padding: 0 25px;
      }
    }
    .hpm-colorSelection{
      @include edit-section--spacing;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          padding: 0 4px;
          a {
            span{
              width: 55px;
              height: 30px;
              display: block;
              &.red{
                background: linear-gradient(-90deg, #EA4B3A 50%, #D42B19 50%);
              }
              &.green{
                background: linear-gradient(-90deg, #3DE971 50%,  #329750 50%);
              }
              &.grey{
                background: linear-gradient(-90deg, #848484 50%,  #575757 50%);
              }
              &.blue{
                background: linear-gradient(-90deg, #0AC4FF 50%,  #1e7f9c 50%);
              }
              &.yellow{
                background: linear-gradient(-90deg, #E9C13D 50%,  #ac9137 50%);
              }
            }
          }
          &.selected--color{
            a{
              span{
                border: solid 3px #ffffff;
                
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.38);
              }
            }
          }
        }
      } 
    }
    .hpm-uploadLogo{
      @include edit-section--spacing;
      .hpm--uploader{
        font-size: 14px;
        
        outline-style: dashed;
        outline-width: 1px;
        outline-color: #a4a4a4;
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .hpm--Logo{
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span.lodur-icon-bin{
          font-size: 20px;
        }
      }
    }
    .hpm-headerImage{
      @include edit-section--spacing;
      ul{
        margin: 0;
        padding: 0;
        width: 100%;
        li{
          border-bottom: 3px solid #E8EBF2;
          float: left;
          list-style-type: none;
          width: 50%;
          text-align: center;
          &.selected{
            border-bottom: 3px solid #0055FF;
          }
          a{
            display: block;
            padding: 10px 0;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      .hpm--headerImage{
        img{
          object-fit: cover;
          width: 100%;
          height: 110px;
        }
      }
    }
    .hpm-stock-photos{
      ul{
        padding: 0;
        margin: 30px 0 0;
        float: left;
        li{
          display: inline-block;
          margin: 0;
          padding: 0 2px 2px 0;
          border: none;
          a{
            padding: initial;
            img{
              object-fit: cover;
              width: 100%;
              height: 110px;
            }
          }
        }
      }
    }
    .hpm-navigationMenu{
      
      ul{
        margin: 0;
        padding: 0;
        li{
          display: inline-block;
          padding: 0 2px 0 0;
          a{
            display: block;
            border: 2px solid #fff;
            &.selected{
              border: 2px solid #0055FF;
              border-radius: 10px;
            }
          }
        }
      }
      
    }

    .hpm-menuSetting{
      
      ul{
        margin: 0;
        padding: 0;
        li{
          margin: 0;
          padding: 0;
          width: 100%;
          list-style-type: none;
          div.hpm-Menu{
            font-size: 14px;
            background-color: #E6E6E6;
            padding: 8px 15px;
            display: flex;
            margin: 0 0 3px;
            align-items: center;
            justify-content: space-between;
            a{
              border: initial;
              color: #000;
              
              &:hover{
                text-decoration: none;
              }
            }
            span{
              font-size: 12px;
              color: #a5a5a5;
            }
            ul{
              padding: 0 0 0 30px;
              li{

              }
            }
          }
          .hpm-subMenu{
            padding: 0 0 0 30px;
          }
        }
      }
    }
    .hpm-select--font{
      
      ul.hpm--font-selection{
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          padding: 0 0 15px;
          a{
            display: block;
            border: 2px solid #E4E4E4;
            border-radius: 12px;
            padding: 15px 25px 5px;
            color: #000;
            &:hover{
              text-decoration: none;
            }
            &.selected{
              border: 2px solid #0055FF;
            }
            .hpm-demoText--heading{
              font-size: 16px;
              margin-bottom: 0.5rem;
            }
            .hpm-demoText--body{
              font-size: 14px;
            }
          }
        }
      }
    }
    .hpm-contactDetails{
      padding: 0 25px;
      ul{
        margin: 0;
        padding: 0;
        width: 100%;
        li{
          border-bottom: 3px solid #E8EBF2;
          float: left;
          list-style-type: none;
          width: 50%;
          text-align: center;
          &.selected{
            border-bottom: 3px solid #0055FF;
          }
          a{
            display: block;
            padding: 10px 0;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      
    }
    .hpm-page-selector{
      
    }
    
    .hpm-home--welcome{
      @include edit-section--spacing;
    }
    
    .hpm-tabs{
      
      ul{
        margin: 0;
        padding: 0;
        width: 100%;
        li{
          border-bottom: 3px solid #E8EBF2;
          float: left;
          list-style-type: none;
          width: 50%;
          text-align: center;
          &.selected{
            border-bottom: 3px solid #0055FF;
            font-weight: bold;
          }
          a{
            display: block;
            font-size: 14px;
            padding: 10px 0;
            &:hover{
              text-decoration: none;
            }
          }
        }
      } 
    }

    .hpm-home-events{
      @include edit-section--spacing;
      margin-bottom: 40px;
      padding-bottom: 0px;
      

      .ubungen-selection{
        span.info-sel{
          font-weight: bold;
          font-size: 14px;
          margin: 10px 0;
          display: block;
        }
        label{
          font-weight: normal;
          font-size: 14px;
        }
      }
      
    }

    .hpm-fahrzeuge--details{
      button.btn-add-icon{
        background: none;
        border: none;
        font-size: 25px;
        color: #858585;
        &:hover{
          cursor: pointer;
          color: #000000;
        }
        &:focus{
          border: none;
          outline: none;
        }
      }
    }

    .hpm-blog{
      ul.pdfUpload{
        margin: 2rem 0 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        li{
          margin: 0;
          padding: 10px 0;
          display: flex;
          width: 100%;
          justify-content: space-between;
          
          div:first-child{
            display: flex;
            align-items: center;
            span.lodur-icon-pdf{
              color: #EA4C3A;
              font-size: 1.5rem;
              margin-right: 0.7rem;
            }
            span:nth-child(2){
              font-size: .8rem;
              font-weight: bold;
            }
          }
          div:last-child{
            span{
              cursor: pointer;
              color: #8B8B8B;
              &:hover{
                color: initial;
              }
            }
            span:first-child{
              margin-right: 0.8rem;
            }
          }
        }
      }
    }

    .hpm-ubungen{
      @include edit-section--spacing;
    }

    .hpm-ubungen--details{
      @include edit-section--spacing;
    }

    .hpm-template--buttons{
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      .hpm--statusBar{
        background-color: #E9E9E9;
        height: 3px;
        margin-bottom: 15px;
        .hpm--statusBar--complete{
          background-color: #2baf6d;
          width: 30%;
          height: 3px;
        }
      }
      .hpm-status--buttons{
        display: flex;
        justify-content: space-between;
        padding: 0 25px 15px;
        .hpm-statusInfo{
          display: flex;
          align-items: center;
          font-size: 14px;
        }
        span.lodur-icon-arrow-thin-left{
          color: #ffffff;
          font-size: 28px;
        }
      }
    }
  }
  .hpm-templatePreview{
    padding: 0 15px 0 0;
    padding-left: 30rem;
    img{
      object-fit: contain;
      width: 100%;
      border: 1px solid #858585;
    }
  }
  .hpm-pageEdit--actions{
    display: flex;
    justify-content: space-between;
    ul{
      display: flex;
      margin: 0;
      padding: 0;
      li{
        list-style-type: none;
        a{
          color: #000;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 40px 0 0;
          span:first-child{
            font-size: 25px;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 8px;
          }
        }
        &:hover{
          a{
            color: #0055FF;
            text-decoration: none;
          }
        }
      }
    }
    form.hpm-pageSelection{
      display: block;
      
      span{
        margin-right: 15px;
        font-weight: bold;
      }
      select{
        border: navajowhite;
        border-radius: 6px;
        background-color: antiquewhite;
        padding: 10px 20px;
        width: 300px;
        background-image: url(../assets/image/select-arrow.png);
        background-position: 95%;
        background-repeat: no-repeat;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    
      }
    }
  }

  .file {
    visibility: hidden;
    position: absolute;
  }

  .file2 {
    visibility: hidden;
    position: absolute;
  }
  
  .hpm-pageEditor{
    padding-top: 2rem;
  }

  .custom-page-select{
    select{
      border: none;
      background-color: white;
      border-bottom: 1px solid #d8dcde;
      border-top: 1px solid #d8dcde;
      padding: 5px 0 8px 0;
      color: #000;
      width: 100%;
      outline: none;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
      optgroup{
        font-weight: normal;
        font-size: 14px;
      }

      option{
        font-size: 14px;
        font-weight: normal;
        margin: 0 0 6px;
      }
    }
  }

  
}

#addNewPDF{
  .modal-dialog{
    max-width: 600px;
  }
}

